<!DOCTYPE html>
<html lang="en" ng-app="meapp">
<head>
    <meta charset="utf-8">
    <title>Boardway System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Boardway System">
    <meta name="author" content="Greg Martin">
    <link href="ref/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="ref/mobileruption/css/mobileruption.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lilita+One|Candal|Kaushan+Script|Courgette' rel='stylesheet' type='text/css'>	
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/" style="font-family: 'Kaushan Script', cursive;">Boardway</a>

    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-controller="SecurityCtrl">
        <li><a href="#" ng-click="login();"><i class="glyphicon glyphicon-map-marker"></i> Login</a></li>
        <li><a href="#" ng-click="join()"><i class="glyphicon glyphicon-map-marker"></i> Join</a></li>
        <li><a href="#" ng-click="logout()" ng-controller="SecurityCtrl"><i class="glyphicon glyphicon-map-marker"></i> Logout</a></li>
      </ul>	 
    </div>
  </div>
</nav>
<div class="container-fluid" ng-controller="ItemsCtrl">
    <div class="row">
        <div class="col-sm-1" style="border-right:1px solid #cecece;">
            <div ng-class="{sideactive:activeview===0}" ng-click="activeview=0; query('rooms');"><i class="glyphicon glyphicon-comment p-4"></i></div>
            <div ng-class="{sideactive:activeview===1}" ng-click="activeview=1"><i class="glyphicon glyphicon-search"></i></div>
            <div ng-class="{sideactive:activeview===2}" ng-click="activeview=2"><i class="glyphicon glyphicon-user"></i></div>
        </div>
        <div class="col-sm-3">
            <div ng-show="activeview===0">
                <div ng-repeat="item in items" >
                    {{item.title}}
                </div>

            </div>
            <div ng-show="activeview===1">List of search</div>
            <div ng-show="activeview===2">List of people</div>
        </div>
        <div class="col-sm-7 main" ng-view>

	</div>
        <div class="col-sm-1">
        </div>
    </div>
</div>

 <!-- Modal -->
  <div class="modal fade" id="loginmodal" role="dialog" ng-controller="SecurityCtrl">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" ng-model="credential.username" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" ng-model="credential.password" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" ng-click="login();" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" ><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#" ng-click="showjoin();">Join</a></p>
          <p>Forgot <a href="#" ng-click="showforgotpassword();">Password?</a></p>
        </div>
      </div>
    </div>
  </div>
<!-- Join -->
  <div class="modal fade" id="joinmodal" role="dialog" ng-controller="SecurityCtrl">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 style="color:green;"><span class="glyphicon glyphicon-unlock"></span> Join</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="joinusrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" ng-model="credential.username" class="form-control" id="joinusrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="joinpsw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" ng-model="credential.password" class="form-control" id="joinpsw" placeholder="Enter password">
            </div>
            <button type="submit" ng-click="join();" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-on"></span> Join</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" ><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Already a member? <a href="#" ng-click="showlogin();">Login</a></p>
          <p>Forgot <a href="#" ng-click="showforgotpassword();">Password?</a></p>
        </div>
      </div>
    </div>
  </div>

<script src="ref/jquery/js/jquery.min.js"></script>
<script src="ref/angularjs/bin/angular.min.js"></script>
<script src="ref/angularjs/bin/angular-resource.min.js"></script>
<script src="ref/angularjs/bin/angular-route.min.js"></script>
<script src="ref/bootstrap/js/bootstrap.min.js"></script>

<script src="lib/common/app.js"></script>
</body>
</html>
